<!DOCTYPE html>
<html>
  <head>
    <title>Rmit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <%= render 'shared/nav' %>
  <% flash.each do |key, value| %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    </div>
  <% end %>

  <%= yield %>
    <footer class="footer">
      <p class="text-white text-center m-0 pt-3">
        Copyright@ 2020 | Powered by:{Khalil Frough} - {student number:s348997} | {tutorial group:Wednesdays: 4:30-6:30pm} | tutor name: Harsain Kapoor
      </p>
    </footer>
  </body>
</html>
